/*Screen 1920x1080px*/

/*RESET*/
* {
  background: transparent;
  border: none;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 20px;
}

/*BACK*/

.back {
  background-color: #EDEDED;
  background-image: url('images/Logo_Mdk_BW.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.back.-main::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 120px;
  left: 47.5%;
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top: 48px solid #BBA542; /*champagne*/
  animation: fade_arrow 5s infinite;
}

.back.-second {
  background-position: center 30px;
  background-size: 60px;
}

/*BOXES*/

.main_item {
  background: white;
  margin: 120px 240px;
  padding: 48px;
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main_item.-in_two {
  width: 480px;
}

.main_item p {
  font-family: 'Graphik-Semibold';
  font-size: 36px;
  line-height: 1.45;
  color: #BBA542;
  letter-spacing: -.7px;
}

/*CONTENT*/

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.big_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid #BBA542; /*champagne*/
  border-radius: 6px;
  background-color: rgba(187, 165, 66, 0.9);
  height: 50vh;
  width: 100%;
  margin-top: 30px;
  animation: fade_button 5s infinite;
}

.big_button p {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  animation: fade_text 5s infinite;
}

.title {
  text-align: center;
  width: 100%;
  height: 120px;
}

p.panel {
  height: 27vh;
  width: 18% !important;
  display: block;
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: top center;
  text-align: center;
  padding-top: 204px;
}

.panel.-needs {
  background-image: url('images/Needs.png');
  animation: introduce_text 5s;
}

.panel.-mechanisms {
  background-image: url('images/Mechanisms.png');
  animation: introduce_text 10s;
}

.panel.-competition {
  background-image: url('images/Competition.png');
  animation: introduce_text 15s;
}

.panel.-colonialism {
  background-image: url('images/Colonialism.png');
  animation: introduce_text 20s;
}

.panel.-beyond {
  background-image: url('images/Beyond.png');
  animation: introduce_text 25s;
}

.big_number {
  display: block;
  font-size: 156px;
  line-height: 120px;
  padding-top: 60px;
  letter-spacing: -5px;
}

.lead .big_number {
  animation: introduce_text 5s;
}

.panel_title {
  display: block;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 24px;
}

.panel_time {
  display: block;
  font-size: 24px;
  text-transform: none;
}

.lead {
  text-align: center;
  width: 100%;
  height: auto;
}

/*NAVIGATION*/
.overlay {
  position: absolute;
  color: #3E5D9C;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
}

.next {
  bottom: 120px;
  right: 120px;
}

.next::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #BBA542; /*champagne*/
  animation: fade_navigation 5s infinite;
  display: block;
}

.previous {
  bottom: 120px;
  left: 120px;
}

.previous::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #BBA542; /*champagne*/
  animation: fade_navigation 5s infinite;
  display: block;
}

/*TRANSITIONS*/

@keyframes fade_arrow {
  0% {
    bottom: 120px;
    opacity: 0;
  }
  50% {
    bottom: 60px;
    opacity: 1;
  }
  100% {
    bottom: 120px;
    opacity: 0;
  }
}

@keyframes fade_text {
  0% {
    color: white;
  }
  50% {
    color: #3E5D9C;
  }
  100% {
    color: white;
  }
}

@keyframes fade_button {
  0% {
    background-color: rgba(187, 165, 66, 0.9);
  }
  50% {
    background-color: rgba(187, 165, 66, 0.5);
  }
  100% {
    background-color: rgba(187, 165, 66, 0.9);
  }
}

@keyframes introduce_text {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_navigation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
