/*Screen 1920x1080px*/

/*RESET*/
* {
  background: transparent;
  border: none;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 20px;
}

a {
  border: 0px;
}

/*BACK*/

.back {
  background-color: #EDEDED;
  background-image: url('images/Logo_Mdk_BW.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.back.-main::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 120px;
  left: 47.5%;
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top: 48px solid #BBA542; /*champagne*/
  animation: fade_arrow 5s infinite;
}

.back.-second {
  background-position: center 30px;
  background-size: 60px;
}

/*CONFIG*/
.numberCircle {
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 20px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.deviceConfirmed {
  background: #fc0;
}

.deviceValidated {
  background: #33CC33;
}


.info {
  text-align: center;
}

/*BOXES*/

.main_item {
  background: white;
  margin: 120px 240px;
  padding: 48px;
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main_item.-in_two {
  width: 480px;
}

.main_item p {
  font-family: 'Graphik-Semibold';
  font-size: 36px;
  line-height: 1.45;
  color: #BBA542;
  letter-spacing: -.7px;
}

/*CONTENT*/

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid #BBA542; /*champagne*/
  border-radius: 6px;
  background-color: rgba(187, 165, 66, 0.9);
  height: 50vh;
  width: 100%;
  margin-top: 30px;
  animation: fade_button 5s infinite;
}

.main_button p {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  animation: fade_text 5s infinite;
  padding: 12px;
}

.main_button.-medium {
  width: 26%;
  margin-left: 2%;
  margin-right: 2%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center 36px;
}

.main_item {
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 36px;
}

.-comparability {
  background-image: url('images/comparability.svg');
}

.-exploitation {
  background-image: url('images/exploitation.svg');
}

.-money {
  background-image: url('images/money.svg');
}

p.title {
  text-align: center;
  width: 100%;
  height: 90px;
  color: #3E5D9C;
  opacity: 0.7;
}

p.prof_panel {
  height: 210px;
  width: 8% !important;
  display: block;
  background-repeat: no-repeat;
  background-size: 90% 30%;
  background-position: top center;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
}

p.prof_panel span {
  width: 100%;
  height: auto;
}

p.prof_panel .panel_title {
  padding-top: 109px;
  font-size: 10.5px;
  height: 32px;
  letter-spacing: 1px;
}

p.prof_panel .panel_number {
  font-size: 36px;
  height: 50px;
}

p.prof_panel .panel_small {
  font-size: 12px;
  height: 90px;
}

p.prof_panel.-football {
  background-image: url('images/football.svg');
  width: 100% !important;
  background-size: 90px;
  background-position: 373px 45px;
  height: 190px;
}

p.prof_panel.-football .panel_title {
  width: 35%;
  padding-top: 72px;
  font-size: 14px;
  text-align: right;
}

p.prof_panel.-football .big_number {
  padding-top: 0;
  font-size: 120px;
  width: 30%;
}

p.prof_panel.-football .panel_medium {
  font-size: 24px;
  width: 35%;
  padding-top: 20px;
  text-align: left;
}

p.prof_panel.-doctor {
  background-image: url('images/doctor.svg');
  animation: introduce_text 5s;
}

p.prof_panel.-manager {
  background-image: url('images/manager.svg');
  animation: introduce_text 6s;
}

p.prof_panel.-pilot {
  background-image: url('images/pilot.svg');
  animation: introduce_text 7s;
}

p.prof_panel.-judge {
  background-image: url('images/judge.svg');
  animation: introduce_text 8s;
}

p.prof_panel.-teacher {
  background-image: url('images/teacher.svg');
  animation: introduce_text 9s;
}

p.prof_panel.-mechanic {
  background-image: url('images/mechanic.svg');
  animation: introduce_text 10s;
}

p.prof_panel.-salesman {
  background-image: url('images/salesman.svg');
  animation: introduce_text 11s;
}

p.prof_panel.-nurse {
  background-image: url('images/nurse.svg');
  animation: introduce_text 12s;
}

p.prof_panel.-hairdresser {
  background-image: url('images/hairdresser.svg');
  animation: introduce_text 13s;
}

p.prof_panel.-student {
  background-image: url('images/student.svg');
  animation: introduce_text 14s;
}

p.panel {
  height: 27vh;
  width: 18% !important;
  display: block;
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: top center;
  text-align: center;
  padding-top: 204px;
}

.panel.-needs {
  background-image: url('images/Needs.png');
  animation: introduce_text 3s;
}

.panel.-mechanisms {
  background-image: url('images/Mechanisms.png');
  animation: introduce_text 6s;
}

.panel.-competition {
  background-image: url('images/Competition.png');
  animation: introduce_text 9s;
}

.panel.-colonialism {
  background-image: url('images/Colonialism.png');
  animation: introduce_text 12s;
}

.panel.-beyond {
  background-image: url('images/Beyond.png');
  animation: introduce_text 15s;
}

.big_number {
  display: block;
  font-size: 156px;
  line-height: 120px;
  padding-top: 60px;
  letter-spacing: -5px;
}

.lead .big_number, .prof_panel .big_number {
  animation: introduce_text 5s;
}

.lead.-centered {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.emph_number {
  animation: introduce_text 5s;
  font-size: 54px;
}

p.sources {
  font-size: 11px;
  width: 100%;
  display: block;
  padding-top: 64px;
  padding-left: 30px;
  color: #3E5D9C;
  animation: introduce_text 20s;
}

.panel_title {
  display: block;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 24px;
}

.panel_time {
  display: block;
  font-size: 24px;
  text-transform: none;
}

.lead {
  text-align: center;
  width: 100%;
  height: auto;
}

p.readable {
  font-size: 26px;
  text-align: left;
  margin: 12px auto;
  width: 70%;
}

/*NAVIGATION*/
.overlay {
  position: absolute;
  color: #3E5D9C;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
}

.next {
  bottom: 120px;
  right: 120px;
}

.next::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #BBA542; /*champagne*/
  animation: fade_navigation 5s infinite;
  display: block;
}

.previous {
  bottom: 120px;
  left: 120px;
}

.previous::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #BBA542; /*champagne*/
  animation: fade_navigation 5s infinite;
  display: block;
}

.menu {
  bottom: 43px;
  left: 90px;
  height: 178px;
  width: 115px;
}

.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100px;
  height: 15px;
  background: #BBA542;
  box-shadow:
    0 25px 0 0 #BBA542,
    0 50px 0 0 #BBA542;
  animation: fade_navigation 5s infinite;
}
/*TRANSITIONS*/

@keyframes fade_arrow {
  0% {
    bottom: 120px;
    opacity: 0;
  }
  50% {
    bottom: 60px;
    opacity: 1;
  }
  100% {
    bottom: 120px;
    opacity: 0;
  }
}

@keyframes fade_text {
  0% {
    color: white;
  }
  50% {
    /*color: #3E5D9C;*/
    color: #BBA542;
  }
  100% {
    color: white;
  }
}

@keyframes fade_button {
  0% {
    background-color: rgba(187, 165, 66, 0.9);
  }
  50% {
    background-color: rgba(187, 165, 66, 0.5);
  }
  100% {
    background-color: rgba(187, 165, 66, 0.9);
  }
}

@keyframes introduce_text {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_navigation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
