/*RESET*/
* {
  background: transparent;
  border: none;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 20px;
}

.wrapper {
  background-color: #EDEDED;
  background-image: url('Logo_Mdk_BW.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10%;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main_item {
  background: white;
  margin: 100px 200px;
  padding: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.main_item p, .main_item a {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 98%;
}

.main_item p {
  font-family: 'Graphik-Semibold';
  font-size: 50px;
  line-height: 1.45;
}

.big_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  border-radius: 12px;
  height: 50vh;
  margin-top: 30px;
  text-transform: uppercase;
}

.big_button:hover {
  background: black;
  color: white;
}

.big_button p {
  font-size: 50px;
}
